.banner{
	margin-top:60px;
	.slogan{
		text-align: center;
		padding-bottom: 20px;
		h2{
			font-family: Arial;
			font-size: 100.5px;
			color:#dfdfdf;
			font-weight: bold;
			line-height: 0px;
		}
		i{
			max-width: 551px;
			font-family: cambria;
			font-size: 22.5px;
			color:#404040;
			font-weight: normal;
		}
	}
}