/* narbar */

.navbar-default .navbar-nav > li > a:hover{
	background:#d45e5e;
}
.navbar{
	background:#ffffff;
	border:0px;
	li{
		padding:0px;
		a{
			text-transform: uppercase;
			padding:40px 13px 10px 13px;
			font-family: HelveticaLT;
			font-size: 	16.5px;
			color: #595959;
			font-weight: normal;
			@media screen and(max-width:480px){
				&{padding:15px 5px 15px 5px;
				font-size: 12px;}
			}
		&:hover{
			background:#d45e5e;
		}	
		}
	}
	}

@media screen and (max-width: 800px) {
    .menu{
    	.navbar-nav{
    		margin: 0px;
    		padding-left:15px;
    	}
    	border-top:1px solid #d0d0d0;
    	padding:0px 0px;
    	.navbar{
    		li{
    			display: inline-block;
    			a{
    				padding:15px 15px;
    			}
    		}
    	}
    }
}