
@font-face {
    font-family: 'Lobster';
    src: url(../fonts/Lobster_1_4.otf);
}
@font-face {
    font-family: 'BebasNeueRegular';
    src: url(../fonts/BebasNeueRegular.ttf);
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: 'HelveticaLT';
    src: url(../fonts/HelveticaLTStd-Cond.otf);
}
@font-face {
    font-family: 'cambria';
    src: url(../fonts/ufonts.com_cambria-italic.ttf);
}
@font-face {
    font-family: 'cambria-regular';
    src: url(../fonts/Cambria.ttf);
}
@font-face {
    font-family: 'ptsan';
    src: url(../fonts/PT_Sans-Web-Regular.ttf);
}
body{
	font-family:BebasNeueRegular;
}